<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos para lo de la voz -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kingdom_King">

        <!-- 1. SPLASH SCREEN: El único punto de entrada oficial de la app -->
        <activity
            android:name=".PagA_Splash_Screen_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Pantallas secundarias (Ordenadas por flujo lógico) -->
        <activity android:name=".PagB_Login_Activity" android:exported="false" />
        <activity android:name=".PagC_Home_Activity" android:exported="false" />
        <activity android:name=".PagD_Espada_Activity" android:exported="false" />
        <activity android:name=".PagE_Pago_Espada_Activity" android:exported="false" />
        <activity android:name=".PagF_Payment_Activity" android:exported="false" />
        <activity android:name=".PagG_MyAccount_Activity" android:exported="false" />
        <activity android:name=".PagH_Edit_Profile_Activity" android:exported="false" />
        <activity android:name=".PagI_MyOders_Activity" android:exported="false" />
        <activity android:name=".PagJ_Live_Activity" android:exported="false" />
        <activity android:name=".PagK_VikingCombat_Activity" android:exported="false" />
        <activity android:name=".PagL_FotoCombate_Activity" android:exported="false" />

        <!-- Actividad principal por defecto (Comentada según solicitud)
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        -->

    </application>

</manifest>